@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

        <p />
        <p />
        <h2>
            <a href="Selolaskuri">Selolaskuri</a>
        </h2>

        <p />
        Shakin vahvuusluvun laskenta
        <br />
        Lähdekoodit: github.com / isuihko
        <p />

        Laskentaan löydetty ohjeita, esimerkkejä ja kaavoja näistä:
        <br />
        <a href="http://skore.users.paivola.fi/selo.html">http://skore.users.paivola.fi/selo.html</a>
        <br />
        <a href="http://shakki.kivij.info/performance_calculator.shtml">http://shakki.kivij.info/performance_calculator.shtml</a>
        <br />
        <a href="http://www.shakki.net/kerhot/salsk/ohjelmat/selo.html">http://www.shakki.net/kerhot/salsk/ohjelmat/selo.html</a>
        <br />
        <a href="https://ratings.fide.com/calculators.phtml">https://ratings.fide.com/calculators.phtml</a>

        <p />

        Tutkittu näitäkin
        <br />
        <a href="http://www.shakki.net/cgi-bin/selo">http://www.shakki.net/cgi-bin/selo</a>
        <br />
        <a href="http://www.shakki.net/pelaaminen/vahvuus">http://www.shakki.net/pelaaminen/vahvuus</a>

    </div>
    </p>
</div>
